@{
    Page.Title = "Paging Books";
    Page.Header = "View Books";
    
    var pageSize = 3; 
    var totalPages = 0; 
    var count = 0;
    var page = UrlData[0].AsInt(1);
    var offset = (page -1) * pageSize;
    
    var db = Database.Open("Books");
    var sql = "Select Count(*) From Books " + 
               "Inner Join Authors on Books.AuthorId = Authors.AuthorId " + 
               "Inner Join Categories on Books.CategoryId = Categories.CategoryId";
    count = (int)db.QueryValue(sql);
    totalPages = (int)Math.Ceiling((double)count/pageSize);        
    sql = "Select Title, ISBN, Description, FirstName, LastName, Category From Books " + 
               "Inner Join Authors on Books.AuthorId = Authors.AuthorId " + 
               "Inner Join Categories on Books.CategoryId = Categories.CategoryId " +
               "Order By BookId OFFSET @0 ROWS FETCH NEXT @1 ROWS  ONLY;";
    
    var result = db.Query(sql, offset, pageSize);
}
    <p>Page @page of @totalPages</p>
    
    @foreach(var row in result){
       <h2>@row.Title</h2>
       <p><strong>Author:</strong> @row.FirstName @row.LastName<br />
       <strong>ISBN:</strong> @row.ISBN <br/>
       <strong>Description:</strong> @row.Description <br />
       <strong>Category: </strong> @row.Category</p>
    }
    
    @{
        for (var i = 1; i <= totalPages + 1; i++){
            <a href="/Paging/@i">@i</a>
        }
    }